<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>about us</h1>
    <p>this is about page of our express app</p>
    <a href="/"> Back to home</a>
  </body>
</html>