<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hubungi Kami</h1>
    <form action="/kontak" method="post">
      <label>Nama:</label>
      <input type="text" name="nama" required><br><br>
      <label>Email:</label>
      <input type="email" name="email" required><br><br>
      <label>Pesan:</label>
      <textarea name="pesan" required></textarea><br><br>
      <input type="submit" value="Kirim">
    </form>
    <a href="/"> Back to home</a>
  </body>
</html>