<%- include('index') %>
<h1 class="text-center">Selamat Datang di Pariwisata Kami</h1>
<p class="text-center">Jelajahi berbagai destinasi menarik di Indonesia.</p>
<div class="text-center">
  <a href="/paketwisata" class="btn btn-primary">Lihat Paket Wisata</a>
</div>
